table {
  border-collapse: collapse;
  border: 1px solid black;
}

table.products-list {
  table-layout: auto;
  width: 100%;
}

th,
td,
tr {
  border: 1px solid black;
  padding: 10px 20px;
}

th {
  background-color: #e6e6e6;
}

tr {
  background-color: #f2f2f2;
}

.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}

.actions p {
  padding: 0 5px;
}

.actions button {
  height: fit-content;
  width: fit-content;
}

.actions .plus-btn {
  margin-left: 10px;
}

.actions .add-to-cart {
  margin-left: 25px;
  height: 40px;
  width: 40px;
  padding: 3px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 15px;
  font-weight: 700;
  margin: 10px 0;
  margin-left: 20px;
}

.actions .remove-from-cart {
  margin-left: 10px;
  height: 40px;
  width: 40px;
  padding: 3px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 15px;
  font-weight: 700;
  margin: 10px 0;
  margin-left: 10px;
}

.cart-img, .cart-img-rem {
  height: 90%;
  width: auto;
}
