.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: beige;
}

.cart-btn {
    height: 40px;
    width: 40px;
    padding: 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nr-of-prod, .navbar .nr-of-added {
    position: absolute;
    left: 95%;
    top: 5%;
    background-color: brown;
    width: fit-content;
    height: auto;
    padding: 5px 7px;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 12px;
}

.back-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 17px;
    visibility: hidden;
}

.link-btn {
    float: right;
    margin: 15px;
    margin-right: 30px;
}
  
.cart-btn img {
    height: 90%;
    width: auto;
}

button:hover {
    cursor: pointer;
}